# path:   /home/klassiker/.local/share/repos/pinentry-dmenu/.gitignore
# author: klassiker [mrdotx]
# url:    https://github.com/mrdotx/pinentry-dmenu
# date:   2025-08-08T05:27:46+0200

/pinentry/argparse.o
/pinentry/password-cache.o
/pinentry/pinentry.o
/pinentry/secmem.o
/pinentry/util.o
/config.h
/drw.o
/pinentry-dmenu
/pinentry-dmenu.o
/util.o
